version: '3.4'

networks:
  frontend:
  backend:

services:
  catalog:
    image: events/catalogapi
    build:
      context: .\EventCatalogApi
      dockerfile: Dockerfile
    environment:
      DatabaseServer: mssqlserver
      DatabaseName: EventsDb
      DatabaseUser: sa
      DatabasePassword: ProductApi(!)
      ExternalCatalogBaseUrl: http://localhost:6700
    ports:
      - "6700:80"
    container_name: eventscatalogapi
    networks:
      - backend
      - frontend
    depends_on:
      - mssqlserver

  mssqlserver:
    image: "microsoft/mssql-server-linux:latest"
    environment:
      ACCEPT_EULA: Y
      SA_PASSWORD: ProductApi(!)
    ports:
      - "1445:1433"
    container_name: eventssqlserver
    networks:
      - backend

  tokenserver:
    build:
      context: .\TokenServiceApi
      dockerfile: Dockerfile
    image: events/tokenapi
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      MvcClient: http://localhost:5230
    ports:
      - "6900:80"
    container_name: eventtokensapi
    networks:
      - backend
      - frontend
    depends_on:
      - mssqlserver

  webmvc:
    build: 
      context: .\webmvc
      dockerfile: Dockerfile
    image: events/webmvc
    container_name: eventshop
    environment:
      CatalogUrl: http://catalog
      IdentityUrl: http://192.168.1.14:6900
      CallBackUrl: http://localhost:5230
    ports:
      - "5230:80"
    networks:
      - frontend
    depends_on:
      - catalog
      - tokenserver